@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        /* padding: 0;
    margin: 0; */
        background-image: url(../../İmg/background.jpg);
        /* margin:auto; */
        background-size: cover;
        /* background-position: center; */
    }
</style>
<body>
</body>